/*selecteur {
  propriété-css: valeur;
}*/
body 
{
    background-image: url("banc-marteau.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: contain;
    
}

.centrage
{
  text-align: center;
  color: white;
}


#conteneurGlobal
{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#conteneur1
{
    width: 70%;
}

#petitTexte
{
  width: 700px;
}

h2 
{
    text-align: center;
    color: white;
}

.legendePhoto
{
    font-style: italic;
    border-color: cadetblue
}

#conteneur2
{
    width: auto
}

.logoRequin
{
    width: 70px;
}

@media screen and (max-width: 1024px)
{
    p
    {
        color: red; 
        background-color: black;
        font-size: 1.2em;
    }
    
    form div + div {
    margin-top: 1em;
}

.element
{
    margin-top: 7em;
    
}

button
{background-color:forestgreen;
border-radius: 5px;
}

#mail
{border-radius: 5px;
}

#mdp
{border-radius: 5px;
}